<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<link rel="stylesheet" href="{{url_for('static', filename='estilo6.css')}}">

		<title>Edicion de base de datos</title>
		

	</head>

	<body id="cuerpo"></body>
		<div align="center">
			<h1 id="titulo">Mensaje</h1>
		</div>
		<br>
		<div align="center">
			<label id="texto5">{{ msg }} </label>
		</div>
		<br>
		<br>
		
		<div align="center">
			<form action="/" method="get">
				<button id="texto4" type="submit" value="Regresa">Regresar a la Pagina Principal</button>
			</form>
		</div>

	</body>

</html>